### FOR TESTING (USE ARB SEPOLIA AND BASE SEPOLIA, DO NOT CHANGE)
ARBITRUM_SEPOLIA_RPC=https://arb-sepolia.g.alchemy.com/v2/ALCHEMY_KEY
BASE_SEPOLIA_RPC=https://base-sepolia.g.alchemy.com/v2/ALCHEMY_KEY

### Deployment
RPC_URL=
ETHERSCAN_API_KEY=
PRIVATE_KEY=

PLUGIN_ENS_SUBDOMAIN= # Optional (a random one is used if empty)
PLUGIN_REPO_MAINTAINER_ADDRESS=
RELEASE_METADATA_URI=
BUILD_METADATA_URI=
PLUGIN_REPO_FACTORY_ADDRESS=